<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div>
<div data-options="region:'west',border:false,split:true" style="background: #FFFFFF;margin: 10px;width: 20%;height: 100%" >
    <div class="easyui-panel" style="padding:5px;">
        <h3>品项类别管理</h3>

    </div>
</div>
<div data-options="region:'center',border:false,split:true" style="background: #FFFFFF;margin: 10px;width: 80%;height: 100%" >
    <div class="easyui-panel" style="padding:5px;">
        <h3>品项类别管理</h3>

    </div>
</div>
</div>